/*body
{
	background-image: url(../images/)
}*/

.search
{
	margin: 5px;
}

.gif
{
	border: 2px solid white;
}

#button-row
{
	width: 90%;
	margin: 30px auto;
}

#new-button-form
{
	margin: 10px auto;
	padding-top: 10px;
	text-align: center;
}

#hello
{
	width: 80%;
	margin: 20px auto;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: darkgrey;
	border: 4px solid grey;
	text-align: center;
	text-shadow: 2px 4px 5px grey;
}

#gif-grid
{
	margin-top: 30px;
	float: left;
	display: inline-block;
}

.gif-box
{
	background-color: darkgrey;
	width: 230px;
	border: 1px grey solid;
	padding: 25px 15px;
	margin: 5px;
	display: inline-block;
	vertical-align: top;
}